<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
    <style>
        body {
            margin: 0;
            padding: 30px 0;
        }

        @font-face {
            font-family: 'Urbanist-Regular';
            src: url(fonts/Urbanist/Urbanist-Regular.ttf);
        }

        @font-face {
            font-family: 'Urbanist-Medium';
            src: url(fonts/Urbanist/Urbanist-Medium.ttf);
        }

        @font-face {
            font-family: 'Urbanist-light';
            src: url(fonts/Urbanist/Urbanist-Light.ttf);
        }
    </style>

</head>

<body style="background-color: #80808024;">
    <table style="width: 600px; margin: auto; border-radius: 10px; border-collapse: collapse;">
        <tr>
            <td>
                <img src="http://35.177.56.74:3012/files/1678167351967.png" style="width: 600px; height: 343px;">
            </td>
        </tr>
        <tr>
            <td>
                <table
                    style="width: 100%; padding: 40px; background-color: #fff; border-radius: 10px;margin: 15px 0px;">
                    <tr>
                        <td>
                            <h3
                                style="font-size: 22px; line-height: 26px; color: #000000; margin: 0px 0px 25px;     font-family: 'Urbanist-Medium';">
                                Dear <%= userName%>,</h3>
                            <p style="font-size: 16px; line-height: 19px; color: #000000;margin: 0px; font-family: 'Urbanist-Regular';
                            ">Thank you for requesting a new password on NCX.</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table style="width: 100%; padding: 40px; background-color: #fff; border-radius: 10px;">
                    <tr>
                        <td>
                            <h3
                                style="font-size: 22px; line-height: 26px; color: #000000; margin: 0px 0px 25px;    font-family: 'Urbanist-Medium';">
                                Password Reset</h3>

                            <p style="font-size: 16px; line-height: 19px; color: #000000;margin: 0px 0px 20px;font-family: 'Urbanist-Regular';
                            ">That's okay, it happens! Click on the button below to reset your password,</p>
                            <button
                            style="width: 116px; height: 37px; background: #34A9FF; margin: 0px 0px 20px;
                    border-radius: 5px; border: none; font-size: 14px;line-height: 17px;color: #FFFFFF; font-family: 'Urbanist-Medium'; cursor: pointer;">
                            <a href='<%= process.env.CLIENT_URL%>/reset-password/<%= forgotId%>' style="text-decoration: none; color: #FFFFFF;">Reset Password</a>
                        </button>
                            <p style="font-size: 13px; line-height: 16px; color: #000000;margin: 0px 0px 50px; font-family: 'Urbanist-Light';
                            ">If you did not request a new password, you can safely ignore this mail.</p>

                            <p style="font-size: 16px; line-height: 19px; color: #000000;margin: 0px 0px 10px;font-family: 'Urbanist-Regular';
                                ">Kind Regards</p>

                            <h5
                                style="font-size: 18px; line-height: 22px; color: #000000; margin: 0px;    font-family: 'Urbanist-Medium';">
                                Support Team</h5>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>